@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

:root {
    --font-tiro: "Tiro Devanagari Hindi", serif;
    --font-josefin: "Josefin Sans", sans-serif;
    --font-mukta: "Mukta", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --font-lobster: "Lobster", sans-serif;
    --font-dancing: "Dancing Script", cursive;
    --font-bebas: "Bebas Neue", sans-serif;
}

/* UTILITY CLASSES */

.font_josefin {
    font-family: var(--font-josefin);
}

.font_dancing {
    font-family: var(--font-dancing);
}

.navbar_span_maa {
    font-family: var(--font-tiro);
}

.font_mukta {
    font-family: var(--font-mukta);
}

.font_lobster {
    font-family: var(--font-lobster);
}

.font_bebas {
    font-family: var(--font-bebas);
}

.font_nunito {
    font-family: var(--font-nunito);
}

/* NAVBAR SECTION  */

.navbar_container {
    height: 10vh;
    width: 100%;
    position: relative;
}

.bg_image::before {
    content: '';
    position: fixed;
    background: url(../Images/bakes.jpg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(0.5);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.navbar_btn {
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 1rem;
    margin: 0px 10px;
    border: 1px solid blue;
    color: blue;
}

.navbar_btn:hover {
    box-shadow: 0 0 10px rgb(0, 4, 255), inset 0 0 10px rgb(25, 0, 255);
}

li {
    padding: 0.3rem 0.3rem;
    margin: 0rem 0.9rem;
    font-size: 1rem;
    font-family: var(--font-nunito);
    transition: transform 0.1s ease;
}

li:hover {
    color: #dfa05e;
    border-bottom: 1px solid #dfa05e;
    transform: scale(1.1);
}

.nav_home_link:hover {
    color: #dfa05e;
}

/* MAIN PAGE SECTION  */

.main_container {
    height: 90vh;
    width: 100%;
    padding: 10rem 5rem;
    position: relative;
}

.span_add {
    color: #dfa05e;
}

/* MENU CARD SECTION  */

.menu_card_container {
    height: 55vh;
    width: 23vw;
    text-align: center;
    position: relative;
    padding: 2rem 2rem;
}

.menu_card_img {
    position: absolute;
    z-index: -1;
    height: 55vh;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(0.5);
}

.menu_card {
    border: 1px solid white;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
}

.menu_card:hover {
    border: 1px solid #dfa05e;
}

/* MENU SECTION  */

.menu_container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.menu_heading {
    font-family: var(--font-dancing);
}

.menu_tittle {
    font-family: var(--font-josefin);
    color: #dfa05e;
}

.menu_about {
    font-family: var(--font-dancing);
}

.menu_about {
    display: none;
    transition: all 0.5s ease;
}

.menu_card:hover .menu_about {
    display: block;
}

/* CONTACT SECTION  */

.contact_container {
    height: 90vh;
}

input,
textarea {
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid white;
    font-family: var(--font-josefin);
}

.contact_container h2 {
    font-family: var(--font-dancing);
}

.contact_btn {
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 1rem;
    margin: 15px 10px;
    border: 1px solid rgb(0, 255, 0);
    color: rgb(5, 255, 5);
}

.contact_btn:hover {
    box-shadow: 0 0 10px rgb(51, 255, 0), inset 0 0 10px rgb(51, 255, 0);
}

.contact_inputs {
    background: rgba(0, 0, 0, 0.493);
}

/* BLOG SECTION  */

.blog_container {
    height: 90vh;
}

/* FOOTER SECTION  */

.footer_container {
    background-color: rgba(0, 0, 32, 0.486);
    font-family: var(--font-josefin);
    font-weight: 500;
}

.footer_container h2 {
    font-weight: 700;
    font-size: 1rem;
}

.footer_container p {
    font-size: 0.9rem;
    font-weight: 500;
}