@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tiro+Devanagari+Hindi&display=swap');

:root {
    --font-tiro: "Tiro Devanagari Hindi", serif;
    --font-josefin: "Josefin Sans", sans-serif;
    --font-mukta: "Mukta", sans-serif;
    --font-nunito: "Nunito", sans-serif;
}

/* NAVBAR SECTION  */

.navbar_container {
    height: 10vh;
    width: 100vw;
}

.navbar_btn {
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 1rem;
    margin: 0px 10px;
    border: 1px solid blue;
    color: blue;
}

.navbar_btn:hover {
    box-shadow: 0 0 10px rgb(0, 4, 255), inset 0 0 10px rgb(25, 0, 255);
}

li {
    padding: 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: var(--font-nunito);
}

.navbar_ul {
    margin-right: 4rem;
}

.navbar_span_nitya {
    font-family: var(--font-josefin);
}

.navbar_span_maa {
    font-family: var(--font-tiro);
}

/* MAIN PAGE SECTION  */

.main_container {
    height: 90vh;
    width: 100vw;
    padding: 10rem 5rem;
}

.background_image::before {
    content: '';
    top:0;
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    background: url(../Images/bakes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
}

.span_add {
    color: #c7b199;

}
